useDynLib(dtatools, .registration = TRUE)
S3method(dplyr::recode,Date)
S3method(dplyr::recode,POSIXct)
S3method(dplyr::recode,dtatools_stata_metadata_vector)
S3method(dplyr::recode,haven_labelled)
S3method(dplyr::recode,numeric)
S3method(dplyr::recode,stata_numeric)
S3method(as.double,stata_numeric)
S3method(as.character,stata_numeric)
S3method(as.character,stata_string)
S3method(as.data.frame,stata_numeric)
S3method(as.data.frame,dtatools_ref_data)
S3method(as.list,dtatools_ref_data)
S3method(as.matrix,dtatools_ref_data)
S3method(tibble::as_tibble,dtatools_ref_data)
S3method(dplyr::arrange,dtatools_ref_data)
S3method(cbind,dtatools_ref_data)
S3method(dplyr::distinct,dtatools_ref_data)
S3method("$",dtatools_ref_data)
S3method("$<-",dtatools_ref_data)
S3method("[",dtatools_ref_data)
S3method("[<-",dtatools_ref_data)
S3method("[[",dtatools_ref_data)
S3method("[[<-",dtatools_ref_data)
S3method(dim,dtatools_ref_data)
S3method("dimnames<-",dtatools_ref_data)
S3method(dimnames,dtatools_ref_data)
S3method(dplyr::dplyr_reconstruct,dtatools_ref_data)
S3method(dplyr::filter,dtatools_ref_data)
S3method(dplyr::group_by,dtatools_ref_data)
S3method(length,dtatools_ref_data)
S3method("names<-",dtatools_ref_data)
S3method(names,dtatools_ref_data)
S3method(print,dtatools_ref_data)
S3method(print,dtatools_labelbook)
S3method(print,dtatools_codebook)
S3method(rbind,dtatools_ref_data)
S3method(dplyr::relocate,dtatools_ref_data)
S3method(dplyr::rename,dtatools_ref_data)
S3method("row.names<-",dtatools_ref_data)
S3method(dplyr::rowwise,dtatools_ref_data)
S3method(dplyr::select,dtatools_ref_data)
S3method(dplyr::slice,dtatools_ref_data)
S3method(dplyr::summarise,dtatools_ref_data)
S3method(subset,dtatools_ref_data)
S3method(transform,dtatools_ref_data)
S3method(dplyr::transmute,dtatools_ref_data)
S3method(dplyr::ungroup,dtatools_ref_data)
S3method(with,dtatools_ref_data)
S3method(within,dtatools_ref_data)
S3method(dplyr::mutate,dtatools_ref_data)
S3method("[",stata_temporal)
S3method("[",stata_string)
S3method("[",dtatools_stata_metadata)
S3method("[[",stata_temporal)
S3method("[[",stata_string)
S3method("[<-",stata_numeric)
S3method("[[<-",stata_numeric)
S3method("[<-",stata_temporal)
S3method("[<-",stata_string)
S3method("[[<-",stata_temporal)
S3method("[[<-",stata_string)
S3method("+",stata_temporal)
S3method("-",stata_temporal)
S3method("==",stata_temporal)
S3method("!=",stata_temporal)
S3method("<",stata_temporal)
S3method("<=",stata_temporal)
S3method(">",stata_temporal)
S3method(">=",stata_temporal)
S3method(Complex,stata_numeric)
S3method(Ops,stata_numeric)
S3method(Math,stata_numeric)
S3method(Summary,stata_numeric)
S3method(Summary,stata_temporal)
S3method(anyNA,stata_numeric)
S3method(is.na,stata_numeric)
S3method(is.na,stata_temporal)
S3method(anyDuplicated,stata_numeric)
S3method(anyDuplicated,stata_temporal)
S3method(c,stata_temporal)
S3method(c,stata_string)
S3method(mean,stata_numeric)
S3method(mean,stata_temporal)
S3method(mtfrm,stata_numeric)
S3method(mtfrm,stata_string)
S3method(mtfrm,stata_temporal)
S3method(duplicated,stata_numeric)
S3method(duplicated,stata_temporal)
S3method(median,stata_numeric)
S3method(quantile,stata_numeric)
S3method(rep,stata_temporal)
S3method(sort,stata_numeric)
S3method(sort,stata_temporal)
S3method(sort,stata_string)
S3method(unique,stata_numeric)
S3method(unique,stata_temporal)
S3method(vec_arith,stata_numeric)
S3method(vec_arith.logical,stata_numeric)
S3method(vec_arith.numeric,stata_numeric)
S3method(vec_arith.stata_numeric,MISSING)
S3method(vec_arith.stata_numeric,default)
S3method(vec_arith.stata_numeric,logical)
S3method(vec_arith.stata_numeric,numeric)
S3method(vec_arith.stata_numeric,stata_numeric)
S3method(vec_cast,double.stata_numeric)
S3method(vec_cast,Date.stata_temporal)
S3method(vec_cast,POSIXct.stata_temporal)
S3method(vec_cast,character.dtatools_stata_metadata_vector)
S3method(vec_cast,double.dtatools_stata_metadata_vector)
S3method(vec_cast,dtatools_stata_metadata_vector.character)
S3method(vec_cast,dtatools_stata_metadata_vector.double)
S3method(vec_cast,dtatools_stata_metadata_vector.dtatools_stata_metadata_vector)
S3method(vec_cast,dtatools_stata_metadata_vector.factor)
S3method(vec_cast,dtatools_stata_metadata_vector.integer)
S3method(vec_cast,dtatools_stata_metadata_vector.logical)
S3method(vec_cast,dtatools_stata_metadata_vector.ordered)
S3method(vec_cast,dtatools_stata_metadata_vector.raw)
S3method(vec_cast,factor.dtatools_stata_metadata_vector)
S3method(vec_cast,integer.dtatools_stata_metadata_vector)
S3method(vec_cast,logical.dtatools_stata_metadata_vector)
S3method(vec_cast,ordered.dtatools_stata_metadata_vector)
S3method(vec_cast,raw.dtatools_stata_metadata_vector)
S3method(vec_cast,stata_numeric.double)
S3method(vec_cast,stata_numeric.integer)
S3method(vec_cast,stata_numeric.logical)
S3method(vec_cast,stata_numeric.stata_numeric)
S3method(vec_cast,stata_temporal.logical)
S3method(vec_cast,stata_temporal.Date)
S3method(vec_cast,stata_temporal.POSIXct)
S3method(vec_cast,stata_temporal.stata_temporal)
S3method(vec_cast,stata_string.character)
S3method(vec_cast,stata_string.stata_string)
S3method(vec_cast,character.stata_string)
S3method(vec_math,stata_numeric)
S3method(vec_proxy,stata_numeric)
S3method(vec_proxy,dtatools_ref_data)
S3method(vec_proxy,stata_temporal)
S3method(vec_proxy,stata_string)
S3method(vec_proxy_equal,stata_numeric)
S3method(vec_proxy_equal,stata_temporal)
S3method(vec_proxy_order,stata_numeric)
S3method(vec_proxy_order,stata_temporal)
S3method(vec_proxy,dtatools_stata_metadata_vector)
S3method(vec_ptype2,double.stata_numeric)
S3method(vec_ptype2,Date.stata_temporal)
S3method(vec_ptype2,POSIXct.stata_temporal)
S3method(vec_ptype2,character.dtatools_stata_metadata_vector)
S3method(vec_ptype2,double.dtatools_stata_metadata_vector)
S3method(vec_ptype2,dtatools_stata_metadata_vector.character)
S3method(vec_ptype2,dtatools_stata_metadata_vector.double)
S3method(vec_ptype2,dtatools_stata_metadata_vector.dtatools_stata_metadata_vector)
S3method(vec_ptype2,dtatools_stata_metadata_vector.factor)
S3method(vec_ptype2,dtatools_stata_metadata_vector.integer)
S3method(vec_ptype2,dtatools_stata_metadata_vector.logical)
S3method(vec_ptype2,dtatools_stata_metadata_vector.ordered)
S3method(vec_ptype2,dtatools_stata_metadata_vector.raw)
S3method(vec_ptype2,factor.dtatools_stata_metadata_vector)
S3method(vec_ptype2,integer.dtatools_stata_metadata_vector)
S3method(vec_ptype2,logical.dtatools_stata_metadata_vector)
S3method(vec_ptype2,ordered.dtatools_stata_metadata_vector)
S3method(vec_ptype2,raw.dtatools_stata_metadata_vector)
S3method(vec_ptype2,integer.stata_numeric)
S3method(vec_ptype2,logical.stata_numeric)
S3method(vec_ptype2,stata_numeric.double)
S3method(vec_ptype2,stata_numeric.integer)
S3method(vec_ptype2,stata_numeric.logical)
S3method(vec_ptype2,stata_numeric.stata_numeric)
S3method(vec_ptype2,logical.stata_temporal)
S3method(vec_ptype2,stata_temporal.logical)
S3method(vec_ptype2,stata_temporal.Date)
S3method(vec_ptype2,stata_temporal.POSIXct)
S3method(vec_ptype2,stata_temporal.stata_temporal)
S3method(vec_ptype2,stata_string.stata_string)
S3method(vec_ptype2,stata_string.character)
S3method(vec_ptype2,character.stata_string)
S3method(vec_restore,stata_numeric)
S3method(vec_restore,dtatools_ref_data)
S3method(vec_restore,stata_temporal)
S3method(vec_restore,stata_string)
S3method(vec_restore,dtatools_stata_metadata_vector)
S3method(xtfrm,stata_numeric)
S3method(xtfrm,stata_temporal)
export(dataset_label)
export("dataset_label<-")
export(copy_data)
export(codebook)
export(confirm_var)
export(datasig)
export(drop_vars)
export(factor_from_labels)
export(gen)
export(keep_vars)
export(labelbook)
export(is_tagged_missing)
export(is_mi)
export(is_missing)
export(missing_tag)
export(read_arrow)
export(read_dta)
export(resolve_var_name)
export(repl)
export(replace_values)
export(recode)
export(save_arrow)
export(slice_stata_rows)
export(set_val_labels)
export(set_var_label)
export(set_var_labels)
export(stata_byte)
export(stata_double)
export(stata_float)
export(stata_int)
export(stata_long)
export(stata_string)
export(dta_merge)
export(dta_identical)
export(dta_match)
export(dta_in)
export(dta_union)
export(dta_intersect)
export(dta_setdiff)
export(dta_setequal)
export(stata_storage_type)
export(stata_notes)
export(stata_note)
export(set_stata_note)
export(add_stata_note)
export(drop_stata_notes)
export(renumber_stata_notes)
export(stata_characteristics)
export(stata_characteristic)
export(set_stata_characteristic)
export(drop_stata_characteristics)
export(tab)
export(tagged_missing)
export(val_labels)
export("val_labels<-")
export(var_label)
export("var_label<-")
export(save_dta)
importFrom(vctrs,vec_cast)
importFrom(vctrs,vec_arith)
importFrom(vctrs,vec_arith.logical)
importFrom(vctrs,vec_arith.numeric)
importFrom(vctrs,vec_math)
importFrom(vctrs,vec_proxy)
importFrom(vctrs,vec_proxy_equal)
importFrom(vctrs,vec_proxy_order)
importFrom(vctrs,vec_ptype2)
importFrom(vctrs,vec_restore)
importFrom(stats,median)
importFrom(stats,quantile)
