useDynLib(dtatools, .registration = TRUE)
export(egen)
export(dta_mean)
export(dta_min)
export(dta_max)
export(dta_total)
export(dta_row_max)
export(dta_row_total)
export(dta_group_id)
export(dta_group_tag)
S3method(dplyr::recode,Date)
S3method(dplyr::recode,POSIXct)
S3method(dplyr::recode,dtatools_dta_metadata_vector)
S3method(dplyr::recode,haven_labelled)
S3method(dplyr::recode,numeric)
S3method(dplyr::recode,dta_numeric)
S3method(as.double,dta_numeric)
S3method(as.character,dta_numeric)
S3method(as.integer,dta_numeric)
S3method(as.logical,dta_numeric)
S3method(as.character,dta_string)
S3method(as.data.frame,dta_numeric)
S3method(as.data.frame,dtatools_ref_data)
S3method(as.list,dtatools_ref_data)
S3method(as.matrix,dtatools_ref_data)
S3method(tibble::as_tibble,dtatools_ref_data)
S3method(dplyr::arrange,dtatools_ref_data)
S3method(cbind,dtatools_ref_data)
S3method(dplyr::distinct,dtatools_ref_data)
S3method(dplyr::group_modify,dtatools_ref_data)
S3method(dplyr::group_nest,dtatools_ref_data)
S3method(dplyr::nest_by,dtatools_ref_data)
S3method(dplyr::reframe,dtatools_ref_data)
S3method("$",dtatools_ref_data)
S3method("$<-",dtatools_ref_data)
S3method("[",dtatools_ref_data)
S3method("[<-",dtatools_ref_data)
S3method("[[",dtatools_ref_data)
S3method("[[<-",dtatools_ref_data)
S3method(dim,dtatools_ref_data)
S3method("dimnames<-",dtatools_ref_data)
S3method(dimnames,dtatools_ref_data)
S3method(dplyr::dplyr_col_modify,dtatools_ref_data)
S3method(dplyr::dplyr_reconstruct,dtatools_ref_data)
S3method(dplyr::dplyr_row_slice,dtatools_ref_data)
S3method(dplyr::filter,dtatools_ref_data)
S3method(dplyr::group_by,dtatools_ref_data)
S3method(length,dtatools_ref_data)
S3method("names<-",dtatools_ref_data)
S3method(names,dtatools_ref_data)
S3method(print,dtatools_ref_data)
S3method(print,dtatools_labelbook)
S3method(print,dtatools_codebook)
S3method(rbind,dtatools_ref_data)
S3method(dplyr::relocate,dtatools_ref_data)
S3method(dplyr::rename,dtatools_ref_data)
S3method("row.names<-",dtatools_ref_data)
S3method(dplyr::rowwise,dtatools_ref_data)
S3method(dplyr::select,dtatools_ref_data)
S3method(dplyr::slice,dtatools_ref_data)
S3method(dplyr::summarise,dtatools_ref_data)
S3method(subset,dtatools_ref_data)
S3method(transform,dtatools_ref_data)
S3method(dplyr::transmute,dtatools_ref_data)
S3method(dplyr::ungroup,dtatools_ref_data)
S3method(with,dtatools_ref_data)
S3method(within,dtatools_ref_data)
S3method(dplyr::mutate,dtatools_ref_data)
S3method("[",dta_temporal)
S3method("[",dta_string)
S3method("[",dtatools_dta_metadata)
S3method("[[",dta_temporal)
S3method("[[",dta_string)
S3method("[<-",dta_numeric)
S3method("[[<-",dta_numeric)
S3method("[<-",dta_temporal)
S3method("[<-",dta_string)
S3method("[[<-",dta_temporal)
S3method("[[<-",dta_string)
S3method("+",dta_temporal)
S3method("-",dta_temporal)
S3method("==",dta_temporal)
S3method("!=",dta_temporal)
S3method("<",dta_temporal)
S3method("<=",dta_temporal)
S3method(">",dta_temporal)
S3method(">=",dta_temporal)
S3method(Complex,dta_numeric)
S3method(Ops,dta_numeric)
S3method(Math,dta_numeric)
S3method(Summary,dta_numeric)
S3method(Summary,dta_temporal)
S3method(anyNA,dta_numeric)
S3method(is.na,dta_numeric)
S3method(is.na,dta_temporal)
S3method(anyDuplicated,dta_numeric)
S3method(anyDuplicated,dta_temporal)
S3method(c,dta_temporal)
S3method(c,dta_string)
S3method(summary,dta_numeric)
S3method(mean,dta_numeric)
S3method(mean,dta_temporal)
S3method(mtfrm,dta_numeric)
S3method(mtfrm,dta_string)
S3method(mtfrm,dta_temporal)
S3method(duplicated,dta_numeric)
S3method(duplicated,dta_temporal)
S3method(median,dta_numeric)
S3method(quantile,dta_numeric)
S3method(rep,dta_temporal)
S3method(sort,dta_numeric)
S3method(sort,dta_temporal)
S3method(sort,dta_string)
S3method(unique,dta_numeric)
S3method(unique,dta_temporal)
S3method(vec_arith,dta_numeric)
S3method(vec_arith.logical,dta_numeric)
S3method(vec_arith.numeric,dta_numeric)
S3method(vec_arith.dta_numeric,MISSING)
S3method(vec_arith.dta_numeric,default)
S3method(vec_arith.dta_numeric,Date)
S3method(vec_arith.dta_numeric,difftime)
S3method(vec_arith.difftime,dta_numeric)
S3method(vec_arith.dta_numeric,POSIXct)
S3method(vec_arith.Date,dta_numeric)
S3method(vec_arith.POSIXct,dta_numeric)
S3method(vec_arith.dta_numeric,logical)
S3method(vec_arith.dta_numeric,numeric)
S3method(vec_arith.dta_numeric,dta_numeric)
S3method(vec_cast,double.dta_numeric)
S3method(vec_cast,integer.dta_numeric)
S3method(vec_cast,logical.dta_numeric)
S3method(vec_cast,Date.dta_temporal)
S3method(vec_cast,POSIXct.dta_temporal)
S3method(vec_cast,character.dtatools_dta_metadata_vector)
S3method(vec_cast,double.dtatools_dta_metadata_vector)
S3method(vec_cast,dtatools_dta_metadata_vector.character)
S3method(vec_cast,dtatools_dta_metadata_vector.double)
S3method(vec_cast,dtatools_dta_metadata_vector.dtatools_dta_metadata_vector)
S3method(vec_cast,dtatools_dta_metadata_vector.factor)
S3method(vec_cast,dtatools_dta_metadata_vector.integer)
S3method(vec_cast,dtatools_dta_metadata_vector.logical)
S3method(vec_cast,dtatools_dta_metadata_vector.ordered)
S3method(vec_cast,dtatools_dta_metadata_vector.raw)
S3method(vec_cast,factor.dtatools_dta_metadata_vector)
S3method(vec_cast,integer.dtatools_dta_metadata_vector)
S3method(vec_cast,logical.dtatools_dta_metadata_vector)
S3method(vec_cast,ordered.dtatools_dta_metadata_vector)
S3method(vec_cast,raw.dtatools_dta_metadata_vector)
S3method(vec_cast,dta_numeric.double)
S3method(vec_cast,dta_numeric.integer)
S3method(vec_cast,dta_numeric.logical)
S3method(vec_cast,dta_numeric.dta_numeric)
S3method(vec_cast,dta_temporal.logical)
S3method(vec_cast,dta_temporal.Date)
S3method(vec_cast,dta_temporal.POSIXct)
S3method(vec_cast,dta_temporal.dta_temporal)
S3method(vec_cast,dta_string.character)
S3method(vec_cast,dta_string.dta_string)
S3method(vec_cast,character.dta_string)
S3method(vec_cast,dtatools_dta_metadata_vector.dta_string)
S3method(vec_cast,dta_string.dtatools_dta_metadata_vector)
S3method(vec_math,dta_numeric)
S3method(vec_proxy,dta_numeric)
S3method(vec_proxy,dtatools_ref_data)
S3method(vec_proxy,dta_temporal)
S3method(vec_proxy,dta_string)
S3method(vec_proxy_equal,dta_numeric)
S3method(vec_proxy_equal,dta_temporal)
S3method(vec_proxy_order,dta_numeric)
S3method(vec_proxy_order,dta_temporal)
S3method(vec_proxy,dtatools_dta_metadata_vector)
S3method(vec_ptype2,double.dta_numeric)
S3method(vec_ptype2,Date.dta_temporal)
S3method(vec_ptype2,POSIXct.dta_temporal)
S3method(vec_ptype2,character.dtatools_dta_metadata_vector)
S3method(vec_ptype2,double.dtatools_dta_metadata_vector)
S3method(vec_ptype2,dtatools_dta_metadata_vector.character)
S3method(vec_ptype2,dtatools_dta_metadata_vector.double)
S3method(vec_ptype2,dtatools_dta_metadata_vector.dtatools_dta_metadata_vector)
S3method(vec_ptype2,dtatools_dta_metadata_vector.factor)
S3method(vec_ptype2,dtatools_dta_metadata_vector.integer)
S3method(vec_ptype2,dtatools_dta_metadata_vector.logical)
S3method(vec_ptype2,dtatools_dta_metadata_vector.ordered)
S3method(vec_ptype2,dtatools_dta_metadata_vector.raw)
S3method(vec_ptype2,factor.dtatools_dta_metadata_vector)
S3method(vec_ptype2,integer.dtatools_dta_metadata_vector)
S3method(vec_ptype2,logical.dtatools_dta_metadata_vector)
S3method(vec_ptype2,ordered.dtatools_dta_metadata_vector)
S3method(vec_ptype2,raw.dtatools_dta_metadata_vector)
S3method(vec_ptype2,integer.dta_numeric)
S3method(vec_ptype2,logical.dta_numeric)
S3method(vec_ptype2,dta_numeric.double)
S3method(vec_ptype2,dta_numeric.integer)
S3method(vec_ptype2,dta_numeric.logical)
S3method(vec_ptype2,dta_numeric.dta_numeric)
S3method(vec_ptype2,logical.dta_temporal)
S3method(vec_ptype2,dta_temporal.logical)
S3method(vec_ptype2,dta_temporal.Date)
S3method(vec_ptype2,dta_temporal.POSIXct)
S3method(vec_ptype2,dta_temporal.dta_temporal)
S3method(vec_ptype2,dta_string.dta_string)
S3method(vec_ptype2,dta_string.character)
S3method(vec_ptype2,character.dta_string)
S3method(vec_ptype2,dtatools_dta_metadata_vector.dta_string)
S3method(vec_ptype2,dta_string.dtatools_dta_metadata_vector)
S3method(vec_restore,dta_numeric)
S3method(vec_restore,dtatools_ref_data)
S3method(vec_restore,dta_temporal)
S3method(vec_restore,dta_string)
S3method(vec_restore,dtatools_dta_metadata_vector)
S3method(xtfrm,dta_numeric)
S3method(xtfrm,dta_temporal)
export(as_dibble)
export(dataset_label)
export(.a)
export(.b)
export(.c)
export(.d)
export(.e)
export(.f)
export(.g)
export(.h)
export(.i)
export(.j)
export(.k)
export(.l)
export(.m)
export(.n)
export(.o)
export(.p)
export(.q)
export(.r)
export(.s)
export(.t)
export(.u)
export(.v)
export(.w)
export(.x)
export(.y)
export(.z)
export("dataset_label<-")
export(copy_data)
export(codebook)
export(confirm_var)
export(datasig)
export(dibble)
export(drop_vars)
export(factor_from_labels)
export(gen)
export(keep_vars)
export(order_vars)
export(rename_vars)
export(labelbook)
export(is_dibble)
export(is_tagged_missing)
export(is_mi)
export(is_missing)
export(missing_tag)
export(read_arrow)
export(read_dta)
export(reorder_dta_rows)
export(resolve_var_name)
export(repl)
export(replace_values)
export(recode)
export(save_arrow)
export(slice_dta_rows)
export(set_val_labels)
export(set_var_label)
export(set_var_labels)
export(dta_byte)
export(dta_double)
export(dta_float)
export(dta_int)
export(dta_long)
export(dta_string)
export(dta_append)
export(dta_merge)
export(dta_identical)
export(dta_match)
export(dta_in)
export(dta_union)
export(dta_intersect)
export(dta_setdiff)
export(dta_setequal)
export(dta_storage_type)
export(dta_notes)
export(dta_note)
export(set_dta_note)
export(add_dta_note)
export(drop_dta_notes)
export(renumber_dta_notes)
export(dta_characteristics)
export(dta_characteristic)
export(set_dta_characteristic)
export(drop_dta_characteristics)
export(tab)
export(tagged_missing)
export(val_labels)
export("val_labels<-")
export(var_label)
export("var_label<-")
export(save_dta)
importFrom(vctrs,vec_cast)
importFrom(vctrs,vec_arith)
importFrom(vctrs,vec_arith.logical)
importFrom(vctrs,vec_arith.numeric)
importFrom(vctrs,vec_arith.Date)
importFrom(vctrs,vec_arith.difftime)
importFrom(vctrs,vec_arith.POSIXct)
importFrom(vctrs,vec_math)
importFrom(vctrs,vec_proxy)
importFrom(vctrs,vec_proxy_equal)
importFrom(vctrs,vec_proxy_order)
importFrom(vctrs,vec_ptype2)
importFrom(vctrs,vec_restore)
importFrom(stats,median)
importFrom(stats,quantile)
if (getRversion() >= "4.3.0") S3method(chooseOpsMethod,dta_numeric)

export(reserve_columns)
export(column_capacity)
export(can_add_columns)

export(set_var_format)
export(set_var_formats)
export(set_dta_metadata)
