useDynLib(dtaparser, .registration = TRUE)
S3method(dplyr::recode,Date)
S3method(dplyr::recode,POSIXct)
S3method(dplyr::recode,haven_labelled)
S3method(dplyr::recode,numeric)
S3method(dplyr::recode,stata_numeric)
S3method(as.double,stata_numeric)
S3method(as.character,stata_numeric)
S3method("[",stata_temporal)
S3method("[[",stata_temporal)
S3method("[<-",stata_numeric)
S3method("[[<-",stata_numeric)
S3method("[<-",stata_temporal)
S3method("[[<-",stata_temporal)
S3method("+",stata_temporal)
S3method("-",stata_temporal)
S3method("==",stata_temporal)
S3method("!=",stata_temporal)
S3method("<",stata_temporal)
S3method("<=",stata_temporal)
S3method(">",stata_temporal)
S3method(">=",stata_temporal)
S3method(Complex,stata_numeric)
S3method(Math,stata_numeric)
S3method(Summary,stata_numeric)
S3method(Summary,stata_temporal)
S3method(anyNA,stata_numeric)
S3method(c,stata_temporal)
S3method(mean,stata_numeric)
S3method(mean,stata_temporal)
S3method(median,stata_numeric)
S3method(quantile,stata_numeric)
S3method(rep,stata_temporal)
S3method(vec_arith,stata_numeric)
S3method(vec_arith.logical,stata_numeric)
S3method(vec_arith.numeric,stata_numeric)
S3method(vec_arith.stata_numeric,MISSING)
S3method(vec_arith.stata_numeric,default)
S3method(vec_arith.stata_numeric,logical)
S3method(vec_arith.stata_numeric,numeric)
S3method(vec_arith.stata_numeric,stata_numeric)
S3method(vec_cast,double.stata_numeric)
S3method(vec_cast,Date.stata_temporal)
S3method(vec_cast,POSIXct.stata_temporal)
S3method(vec_cast,stata_numeric.double)
S3method(vec_cast,stata_numeric.integer)
S3method(vec_cast,stata_numeric.logical)
S3method(vec_cast,stata_numeric.stata_numeric)
S3method(vec_cast,stata_temporal.logical)
S3method(vec_cast,stata_temporal.Date)
S3method(vec_cast,stata_temporal.POSIXct)
S3method(vec_cast,stata_temporal.stata_temporal)
S3method(vec_math,stata_numeric)
S3method(vec_proxy,stata_numeric)
S3method(vec_proxy,stata_temporal)
S3method(vec_ptype2,double.stata_numeric)
S3method(vec_ptype2,Date.stata_temporal)
S3method(vec_ptype2,POSIXct.stata_temporal)
S3method(vec_ptype2,integer.stata_numeric)
S3method(vec_ptype2,logical.stata_numeric)
S3method(vec_ptype2,stata_numeric.double)
S3method(vec_ptype2,stata_numeric.integer)
S3method(vec_ptype2,stata_numeric.logical)
S3method(vec_ptype2,stata_numeric.stata_numeric)
S3method(vec_ptype2,logical.stata_temporal)
S3method(vec_ptype2,stata_temporal.logical)
S3method(vec_ptype2,stata_temporal.Date)
S3method(vec_ptype2,stata_temporal.POSIXct)
S3method(vec_ptype2,stata_temporal.stata_temporal)
S3method(vec_restore,stata_numeric)
S3method(vec_restore,stata_temporal)
export(dataset_label)
export("dataset_label<-")
export(factor_from_labels)
export(is_tagged_missing)
export(missing_tag)
export(read_dta)
export(recode)
export(set_variable_labels)
export(set_value_labels)
export(stata_byte)
export(stata_double)
export(stata_float)
export(stata_int)
export(stata_long)
export(stata_merge)
export(stata_storage_type)
export(tab)
export(tagged_missing)
export(val_labels)
export("val_labels<-")
export(var_label)
export("var_label<-")
export(write_dta)
importFrom(vctrs,vec_cast)
importFrom(vctrs,vec_arith)
importFrom(vctrs,vec_arith.logical)
importFrom(vctrs,vec_arith.numeric)
importFrom(vctrs,vec_math)
importFrom(vctrs,vec_proxy)
importFrom(vctrs,vec_ptype2)
importFrom(vctrs,vec_restore)
importFrom(stats,median)
importFrom(stats,quantile)
