useDynLib(dtaparser, .registration = TRUE)
S3method(dplyr::recode,Date)
S3method(dplyr::recode,POSIXct)
S3method(dplyr::recode,haven_labelled)
S3method(dplyr::recode,numeric)
export(dataset_label)
export("dataset_label<-")
export(factor_from_labels)
export(is_tagged_missing)
export(missing_tag)
export(read_dta)
export(recode)
export(set_variable_labels)
export(set_value_labels)
export(tab)
export(tagged_missing)
export(val_labels)
export("val_labels<-")
export(var_label)
export("var_label<-")
